.logo {
  background: url(media/logo.svg) center no-repeat;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 5%;
}

.takemeup {
  background: url(media/arrow.svg) center no-repeat;
  background-size: initial;
}
