body {
  background: #fff;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1d1d1d;
}

header {
  padding: 16px 7%;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

header::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  background: url(media/logo.svg) center no-repeat;
  background-size: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}

.user-controls {
  float: right;
  display: flex;
}

.button-login {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #e0e0e0;
  padding: 14px 20px;
  font-size: 13px;
  font-weight: 700;
}

.basket {
  background: rgba(255, 255, 255, 0) url(media/basket.svg) center no-repeat;
  background-size: 100%;
  padding: 14px 20px;
  border: none;
  margin-left: 27px;
}

.takemeup {
  background: url(media/arrow.svg) center no-repeat;
  background-size: initial;
}
