html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  background: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #1d1d1d;
  font-size: 16px;
}

header,
main,
footer {
  padding: 0 7%;
}

header {
  padding: 16px 7%;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  display: flex;
  align-items: center;
}

h2 {
  font-size: 22px;
  font-weight: 400;
}

footer {
  background-color: #262626;
  color: white;
}

input[type="search"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  margin: 56px 0;
}

input[type="search"]::placeholder {
  color: rgba(98, 98, 98, 0.5);
  font-size: 16px;
}

select {
  background-origin: padding-box;
  background: url(media/globe.svg) left 16px center no-repeat,
    url(media/select-arrow.svg) right 8px center no-repeat;
  background-color: #3b3b3b;
  border: none;
  border-radius: 2px;
  padding: 12px 0;
  text-indent: 48px;
  width: 100%;
  color: #fff;
  font-size: 13px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  -ms-user-select: none;
}

select::-ms-expand {
  /* для IE */
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

footer a:visited {
  color: white;
}

footer ul li {
  margin-bottom: 23px;
}

.logo {
  background: url(media/logo.svg) left center no-repeat;
  background-size: 120px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  line-height: 3em;
}

.user-controls {
  float: right;
  display: flex;
}

.button-login {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #e0e0e0;
  padding: 14px 20px;
  font-size: 13px;
  font-weight: 600;
}

.basket {
  background: rgba(255, 255, 255, 0) url(media/basket.svg) center no-repeat;
  background-size: 100%;
  padding: 14px 20px;
  border: none;
  margin-left: 27px;
}

.restaurants {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
  padding-top: 16px;
  align-items: stretch;
}

.restaurant {
  margin-left: 8px;
  margin-right: 8px;
  flex-basis: 32.2%;
}

.restaurant:hover,
.restaurant:focus {
  background: rgba(117, 117, 117, 0.04);
}

.restaurant:nth-child(3n + 1) {
  margin-left: 0;
}

.restaurant:nth-child(3n) {
  margin-right: 0;
}

.restaurant-logo {
  width: 100%;
}

.restaurant-name {
  margin-top: 16px;
  line-height: 24px;
  font-weight: 500;
}

.restaurant-kitchen {
  font-size: 14px;
  color: #626262;
  margin: 4px 0;
  line-height: 21px;
}

.restaurant-time {
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 20px;
}

.takemeup {
  background: url(media/arrow.svg) center no-repeat;
  background-size: initial;
}

.logo-footer {
  background: url(media/logo-white.svg) left center no-repeat;
  background-size: 190px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  padding: 58px 0;
}

.logo-footer,
.site-info,
.app-links {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.site-info {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  padding-bottom: 48px;
  font-size: 13px;
  line-height: 15px;
}

.site-info > * {
  flex-basis: 32.2%;
}

.block {
  display: block;
}

.hashtag {
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.hashtag::before {
  color: #49a144;
  content: "#";
}

.contacts {
  margin-bottom: 42px;
}

.contacts .hashtag {
  margin: 33px 0 20px 0;
}

.app-links {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.app-links > *:nth-child(1) {
  margin-right: 40px;
}

.eula {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  line-height: 13px;
  padding: 40px 0;
}

.eula > * {
  flex-basis: 32.5%;
}

.takemeup {
  background: #59bd5a url(media/arrow.svg) center no-repeat;
  border-radius: 2px;
  border: none;
  outline: none;
  position: fixed;
  right: 16px;
  bottom: 24px;
  width: 80px;
  height: 80px;
  display: block;
}

@media (max-width: 1092px) {
  .restaurant {
    margin: 0;
  }
}

@media (max-width: 768px) {
  header,
  main,
  footer {
    padding-left: 8px;
    padding-right: 8px;
  }

  header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .restaurants {
    margin-bottom: 48px;
  }

  .restaurants::after {
    content: "";
    flex-basis: 48%;
    flex-grow: 1;
    margin-left: 8px;
  }

  .restaurant:nth-child(n) {
    margin: 0;
    flex-basis: 48%;
    flex-grow: 1;
  }

  .restaurant:nth-child(odd) {
    margin-right: 8px;
  }

  .restaurant:nth-child(even) {
    margin-left: 8px;
  }

  .logo-footer {
    padding-top: 56px;
    padding-bottom: 40px;
  }
}

@media (max-width: 415px) {
  .site-info {
    flex-direction: column;
  }

  .site-info > * {
    flex-basis: 100%;
  }

  .restaurant:nth-child(n) {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .basket {
    display: none;
  }

  main {
    padding-left: 8px;
    padding-right: 4px;
  }

  footer {
    padding: 0 8px;
  }
  .restaurants {
    padding: 0;
  }

  .restaurant:nth-child(n) {
    margin: 0;
    flex-basis: 100%;
  }

  .app-links > *:nth-child(1) {
    margin-right: 25px;
  }

  .eula {
    flex-flow: column;
    padding: 40px 0;
  }

  .eula > * {
    flex-basis: 100%;
    margin-bottom: 24px;
  }

  .eula > *:last-child {
    margin-bottom: 0;
  }
}
